#end-game-container {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.image-holder {
    display: inline-block;
    margin-bottom: 2%;
}

.game-stats {
    opacity: 0.85;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.15px;
    line-height: 35px;
    margin-bottom: 7%;
}

#end-game-button {
    width: 128px;
    height: 42px;
    opacity: 0.85;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #1C7430;
    letter-spacing: 0;
    border: none;
    transition: 0.4s;
}

#end-game-button:hover{
    background: rgb(37, 37, 37);
    color: white;
    transition: 0.4s;
}